<%# <h2 class="text-center">History</h2> %>

<table class="table table-striped sticky-header">
 <thead>
 <tr>
   <th>Item's Name</th>
   <th>Paid: </th>
 </tr>
 <tbody>
   <% for(var i = 0; i < user.history.length; i++) {%>
     <tr>
       <td><%= user.history[i].item.name %></td>
       <td><%= user.history[i].paid %></td>
     </tr>
   <% } %>
 </tbody>
 </thead>
</table>