<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>

        <div class=" text-center" style="margin-top: 15%">
            <% if (success.length > 0) { %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>


            <ul class="list-group">
            <% for(let i = 0; i < categories.length; i++) { %>
                <li class="list-group-item">
                    <a href="/api/admin/create-fake-product/<%= categories[i].name %>/<%= categories[i]._id %>" > <%= categories[i].name %> </a>
                </li>
            <% } %>
            </ul>
        </div>
    
    </body>
</html>
