
<!doctype html>
<html lang="en">

  <% include ../partials/head %>

  <body>
    <% include ../partials/nav %>

    <% include ./products-category %>

    <% include ../partials/footer %>
  </body>
</html>
