<!DOCTYPE html>
<html>
 <% include ../partials/head %>
 <body>

   <% include ../partials/nav %>

  <div style="text-align: center; margin-top: 10%">
    <h1>Thanks for the cash!! Sucker!!! Just kidding.</h1>
  </div>

   <% include ../partials/footer %>

 </body>
</html>